.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  margin-left: 10px;
  padding: 5px 15px;
  border-radius: 5px;
  border-style: dashed;
  box-shadow: 2px 1px 4px rgb(61, 60, 60);
}

.label {
  font-size: 20px;
  font-weight: 500;
  display: block;

  text-align: center;
  margin-bottom: 15px;
}

.input {
  width: 250px;
  height: 15px;
  margin-left: 20px;
  padding: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;

  box-shadow: 2px 2px 7px 6px rgba(34, 60, 80, 0.2);
}
